@import 'base';

[ng-click] {
	cursor: pointer;
}

.control-column {
	.title, .dropdown {
		text-align: center;
	}
	.btn-group {
		left: 50%;
		right: auto;
		text-align: center;
		transform: translate(-50%, 0);
		margin-bottom: 10px;
		z-index: 5;
		&.top {
			z-index: 6;
		}
	}
}

.list-group-item {
	select {
		color: black;
	}
}

.close.close-inline {
	float: none;
	vertical-align: bottom;
	&.glyph-inline {
		font-size: 14px;
		padding-bottom: 2px;
		&.pad {
			padding-bottom: 3px;
		}
	}
}

.list-column {
	padding-top: 10px;
}

.highlight {
	font-weight: bold;
}

.my-name {
	font-weight: bold;
	padding: 10px;
}

.pre {
	white-space: pre-wrap;
}

.test-buttons {
	margin-bottom: 10px;
}

.top-error {
	margin-top: 5px;
	margin-bottom: 5px !important;
}

.faded {
	opacity: 0.5;
}

.error {
	color: $errorColor;
}

.mobile-status {
	margin-right: 5px;
}