
$color: #888;

html, body {
	background-color: $color;
}

li[ng-click] {
	cursor: pointer;
}

.control-column {
	h3, .dropdown {
		text-align: center;
	}
	.btn-group {
		left: 50%;
		right: auto;
		text-align: center;
		transform: translate(-50%, 0);
		margin: 10px;
		z-index: 5;
	}
}

.list-column {
	padding-top: 10px;
}

.highlight {
	font-weight: bold;
}

.my-name {
	font-weight: bold;
	padding: 10px;
}