# Compiled files
build/

# Dependency directory
bower_components/
node_modules/

# Editor files
*.sublime-*

# Debug log from npm
npm-debug.log

# qckwinsvc (node-windows) Files
server/daemon/

# Custom configuration files
server/config.js
gcm-master.zip
gcm-master/
android/TurnTracker/app/google-services.json
android/TurnTracker/projectFilesBackup/.idea/workspace.xml
