<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.geniusburger.turntracker" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity" android:label="@string/title_activity_login" android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".MainActivity" android:label="@string/title_activity_main" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- used for reading the "autoturn" tags -->
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!--<intent-filter>-->
                <!--&lt;!&ndash; not needed if we listen for technologies &ndash;&gt;-->
                <!--<action android:name="android.nfc.action.TAG_DISCOVERED"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".SettingsActivity" android:label="@string/title_activity_settings" android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".fcm.NotificationReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="me.geniusburger.turntracker.NotificationReceiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".nfc.TagReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <!-- used for reading the "autoturn" tags -->
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <!--<data android:mimeType="text/plain" />-->
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/nfc_tech_filter" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
            </intent-filter>
        </receiver>

        <!-- [START firebase_service] -->
        <service android:name=".fcm.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".fcm.MyInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <service android:name=".fcm.RegistrationIntentService" android:exported="false">
        </service>
    </application>

</manifest>
